@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #576b62;
  --color-secondary: #eafff6;
  --font-main: 'Segoe UI', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}